@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text font-sans;
}

@layer utilities {
  .bg-blue-gradient {
    background: linear-gradient(
      to right,
      #109cf1,
      #22aafc
    ); /* Dark blue to light blue */
  }
  .bg-blue-gradient-hover {
    background: linear-gradient(
      to right,
      #0a88d6,
      #209fee
    ); /* Slightly lighter gradient */
  }
  .text-text {
    color: #333333; /* Replace with your desired color */
  }
}
